.wrp {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-size: 14px;

  .navbar-brand {
    height: 50px;
    padding: 2px 15px;
    & > img {
      vertical-align: top;
    }
  }

  .container-content {
    display: flex;
  }

  .navbar-toggle {
    display: inline-block;
    width: 44px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #b9b3b3;
    font-size: 16px;
    &-icon {
      transition: all 0.3s;
    }
    &-icon-active {
      transform: rotate(-90deg);
    }
    &:hover {
      background-color: #ddd;
    }
  }

  .content-wrapper {
    background-color: rgba(0, 0, 0, 0.68);
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .navbar-toggle,
    .content-wrapper {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .route-link {
      display: none;
    }
  }
}
.toggle-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  &:hover {
    color: #62ddac;
  }
  &:focus {
    text-decoration: none;
  }
}
.link {
  padding: 0 15px;
  text-decoration: none;
  color: #555;
  &:hover {
    color: #62ddac;
  }
  &:focus {
    text-decoration: none;
  }
}

.active {
  color: #62ddac;
}

.navbar-home {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  & .link {
    color: #ffffff;
  }
  & .active {
    color: #62ddac;
  }
}
