* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 12px;
  font-family: Tahoma, Helvetica, Arial, 'PingFang SC', 'Heiti SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1a202f;
}

.pointer {
  cursor: pointer;
}

.none {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
