.wrp {
  padding: 0;
  .cover-info {
    background-color: #19ddc4;
    color: #ffffff;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 86px 0px;
    height: 100vh;
  }
}
